@{
    ViewData["Title"] = "Index";
}


<div id="div1" style="display:flex; flex-wrap:wrap ">
</div>

@section Scripts{
    <script src="~/.././js/travel.js"></script>
    <script>
        //取得DIV1物件
        let Div1 = document.getElementById("div1");
        //新增一個空節點這樣可減少畫面更新
        let Fragment = document.createDocumentFragment();
        //forEach DATAS裡的obj
        DATAS.forEach(function (obj) {
            //新增一個Div1
            let newDiv1 = document.createElement("div");
            //加上ClassName
            newDiv1.className = "card";
            //加上CSS屬性
            newDiv1.style = "width: 18rem;";
            //新增一個Div
            let newDiv = document.createElement("div");
            newDiv.className = "card-body";

            let newH5 = document.createElement("h5");
            newH5.className = "card-title";
            //將新增的H5內放入obj.Name
            newH5.innerText = obj.Name;
            newDiv.appendChild(newH5);
            let newH6 = document.createElement("h6");
            newH6.className = "card-subtitle mb-2 text-muted";
            //將新增的H6內放入obj.Add
            newH6.innerText = obj.Add;
            newDiv.appendChild(newH6);
            let newp = document.createElement("p");
            newp.className = "card-text";
            //將新增的p內放入obj.Toldescribe
            newp.innerText = obj.Toldescribe;
            newDiv.appendChild(newp);
            let newa1 = document.createElement("a");
            newa1.className = "card-link"
            //將新增的a1的連結改成obj.TYWebsite
            newa1.href = obj.TYWebsite;
            newa1.innerText = "桃園觀光導覽"
            newDiv.appendChild(newa1);
            let newa2 = document.createElement("a");
            newa1.className = "card-link"
            //將新增的a2的連結改成obj.Website
            newa2.href = obj.Website
            newa2.innerText = "官方網站"
            newDiv.appendChild(newa2);
            newDiv1.appendChild(newDiv)
            Fragment.appendChild(newDiv1);
        })
        Div1.appendChild(Fragment);



    </script>
}

